<div class="row">
    <div class="col-lg-5 form-group form-inline">
        <label for="location">Välj plats:</label>
        <select id="location" class="form-control" ng-model="location" ng-change="changeLocation()">
            <option value="campus-nkpg">Campus Norrköping</option>
            <option value="campus-valla">Campus Valla</option>
        </select>
    </div>
    <div class="jumbotron container text-center" ng-if="currentForecast"> <!-- lg screen give it the ability to use 12 cols -->
        <h1>Väder för {{weatherData.name}}</h1>
        <div class="visible-lg-block">
            <forecast-details forecast="currentForecast"></forecast-details>
        </div>
    </div>

    <div class="col-lg-3"> <!-- uses 3/12 cols on large screen -->
        <div class="btn btn-default" ng-class="{'active': forecast.day == currentForecast.day}" style="display: block; padding: 20px; margin: 10px" ng-repeat="forecast in weatherData.forecast" ng-click="showForecastDetails(forecast)">
            {{forecast.day +" " + forecast.temperature + "&#8451;"}}
        </div>
    </div>
</div>